/*!
* _common
* create: 2017-12-1
* since: 0.0.1
*/

@import 'animate';
@import 'config';

body, #app{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	background-color: #21252b;
  color: #333;
  font-family: $font-family;
  font-size: $font-size-base;
}
